<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>模版文件</title>
  <meta name="description" content="模版文件">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta content="telephone=no,email=no" name="format-detection" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
</head>

<body>
  <div class="wrapper" id="react">
    <%- include ./template/common/loading.ejs %>
  </div>
</body>

</html>